#posts-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
}

.post-containers {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  box-shadow: 5px 5px 10px grey;
}
